.copy-code{
  width: 80%;
}

.search-bar-box{
  display: flex;
  flex-direction: column;

}

.search-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;

  button {
    height: 60px;
    border-radius: 30px ;
    margin-left: 10px;
  }
}



.img-search{
  padding-right: 10px;
}