#header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#img-logo{
  height: 100px;
  width: 100px;
  padding-right: 20px;
}

.underline-color{
  color: aqua;
  border-bottom: 5px solid red;
}

.box-img-title{
  display: flex;
  flex-direction: row;
}

.description{
  padding-top: 50px;
}