/* Import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



/* Font Family */
.roboto-font {
  font-family: 'Roboto', Arial, sans-serif;
}

/* Font Weight */
.normal-weight {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

/* Font Size */
.custom-font-size {
  font-size: 24px;
}

/* Letter Spacing */
.spaced-out {
  letter-spacing: 2px;
}

/* Text Color */
.blue-text {
  color: blue;
}

/* Text Decoration */
.underlined-text {
  text-decoration: underline;
}

/* Text Alignment */
.centered-text {
  text-align: center;
}
